# 터미널에서 pip install -r requirements.txt 커맨드로 모듈 다운로드!!
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
ament-cmake-test==1.3.5
ament-copyright==0.12.8
ament-cppcheck==0.12.8
ament-cpplint==0.12.8
ament-flake8==0.12.8
ament-index-python==1.4.0
ament-lint==0.12.8
ament-lint-cmake==0.12.8
ament-package==0.14.0
ament-pep257==0.12.8
ament-uncrustify==0.12.8
ament-xmllint==0.12.8
angles==1.15.0
appdirs==1.4.4
# apturl==0.5.2
argcomplete==1.8.1
async-timeout==4.0.2
attrs==23.1.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.12.2
beniget==0.4.1
blinker==1.6.2
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.1
# catkin==0.8.10
# catkin-pkg==1.0.0
# catkin-pkg-modules==1.0.0
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
chatgpt==2.2212.0
click==8.1.6
# cloud-init==23.2.2
#-argcomplete==0.3.3
#-bash==0.4.2
#-cd==0.1.1
#-cmake==0.2.27
#-common-extensions==0.3.0
#-core==0.12.1
#-defaults==0.2.8
#-devtools==0.2.3
#-installed-package-information==0.1.0
#-library-path==0.2.1
#-metadata==0.2.5
#-notification==0.2.15
#-output==0.2.13
#-override-check==0.0.1
#-package-information==0.3.3
#-package-selection==0.2.10
#-parallel-executor==0.2.4
#-pkg-config==0.1.0
#-powershell==0.3.7
#-python-setup-py==0.2.8
#-recursive-crawl==0.2.1
#-#==0.3.23
#-test-result==0.3.8
#-zsh==0.4.0
colorama==0.4.4
command-not-found==0.3
composition-interfaces==1.2.1
configobj==5.0.6
constantly==15.1.0
control-msgs==4.4.0
# controller-manager==2.31.0
# controller-manager-msgs==2.31.0
# cov-core==1.15.0
# coverage==6.2
# cryptography==3.4.8
# cupshelpers==1.0
# cv-bridge==3.2.1
# cycler==0.11.0
# dbus-python==1.2.18
# decorator==4.4.2
# defer==1.0.6
# demo-nodes-py==0.20.3
# diagnostic-msgs==4.2.3
# distlib==0.3.4
# distro==1.7.0
# distro-info==1.1+ubuntu0.1
# docutils==0.17.1
# domain-coordinator==0.10.0
# duplicity==0.8.21
# empy==3.3.4
# example-interfaces==0.9.3
# examples-rclpy-executors==0.15.1
# examples-rclpy-minimal-action-client==0.15.1
# examples-rclpy-minimal-action-server==0.15.1
# examples-rclpy-minimal-client==0.15.1
# examples-rclpy-minimal-publisher==0.15.1
# examples-rclpy-minimal-service==0.15.1
# examples-rclpy-minimal-subscriber==0.15.1
# exceptiongroup==1.1.3
# fasteners==0.14.1
ffmpeg-downloader==0.2.0
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
flake8==4.0.1
Flask==2.3.2
fonttools==4.29.1
frozenlist==1.4.0
fs==2.4.12
future==0.18.2
gast==0.5.2
generate-parameter-library-py==0.3.6
# genmsg==0.5.16
# genpy==0.6.16
geometry-msgs==4.2.3
google==3.0.0
googlemaps==4.10.0
gps==3.19
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.4
image-geometry==3.2.1
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==2.0.0
interactive-markers==2.3.2
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
# joint-state-publisher==2.4.0
# joint-state-publisher-gui==2.4.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
lark==1.1.1
laser-geometry==2.4.0
launch==1.0.4
launch-#==0.19.6
launch-testing==1.0.4
launch-testing-#==0.19.6
launch-xml==1.0.4
launch-yaml==1.0.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lifecycle-msgs==1.2.1
lockfile==0.12.2
logging-demo==0.20.3
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.1
mccabe==0.6.1
mdurl==0.1.2
message-filters==4.3.3
mkdir==2020.12.3
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
multidict==6.0.4
mutagen==1.47.0
nav-msgs==4.2.3
netifaces==0.11.0
nose2==0.9.2
notify2==0.3
numpy==1.25.1
oauthlib==3.2.0
olefile==0.46
openai==0.27.8
osrf-pycommon==2.0.2
packaging==23.1
paramiko==2.9.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pexpect==4.8.0
Pillow==9.0.1
playsound==1.3.0
pluggy==1.2.0
ply==3.11
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pydub==0.25.1
pyflakes==2.4.0
Pygments==2.15.1
PyGObject==3.42.1
pygraphviz==1.7
PyHamcrest==2.0.2
PyJWT==2.8.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pytest==7.4.0
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-gnupg==0.4.8
python-magic==0.4.24
python-qt-binding==1.1.1
pythran==0.10.0
pytz==2023.3
pyxdg==0.27
PyYAML==5.4.1
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.10
rcutils==5.1.3
reportlab==3.6.8
requests==2.31.0
resource-retriever==3.1.1
rich==13.4.2
rmw-dds-common==1.6.0
roman==3.3
#2action==0.18.7
#2bag==0.15.8
#2cli==0.18.7
# #2component==0.18.7
# #2controlcli==2.31.0
# #2doctor==0.18.7
# 2interface==0.18.7
# #2launch==0.19.6
# # #2lifecycle==0.18.7
# # #2multicast==0.18.7
# # #2node==0.18.7
# # #2param==0.18.7
# # #2pkg==0.18.7
# # #2run==0.18.7
# # #2service==0.18.7
# # #2topic==0.18.7
# # #bag==1.15.14
# # #bag2-interfaces==0.15.8
# # #bag2-py==0.15.8
# # #dep==0.21.0
# # #distro==0.9.0
# # #distro-modules==0.9.0
# # #graph==1.15.14
# # #graph-msgs==1.2.1
# # #idl-adapter==3.1.5
# # #idl-cli==3.1.5
# # # #idl-cmake==3.1.5
# # # #idl-generator-c==3.1.5
# # #idl-generator-cpp==3.1.5
# # #idl-generator-py==0.14.4
# # #idl-parser==3.1.5
# # #idl-runtime-py==0.9.3
# # #idl-typesupport-c==2.0.1
# # #idl-typesupport-cpp==2.0.1
# # #idl-typesupport-fastrtps-c==2.2.1
# # #idl-typesupport-fastrtps-cpp==2.2.1
# # #idl-typesupport-int#pection-c==3.1.5
# # #idl-typesupport-int#pection-cpp==3.1.5
# # #lib==1.15.8
# # #lz4==1.15.14
# #node==1.15.14
# #pkg==1.5.0
# #pkg-modules==1.5.0
# #py==1.15.14
# #topic==1.15.14
# rpyutils==0.2.1
# rqt==1.1.5
# rqt-action==2.0.1
# rqt-bag==1.1.4
# rqt-bag-plugins==1.1.4
# rqt-console==2.0.2
# rqt-controller-manager==2.31.0
# rqt-graph==1.3.0
# rqt-gui==1.1.5
# rqt-gui-py==1.1.5
# rqt-joint-trajectory-controller==2.25.0
# rqt-moveit==1.0.1
# rqt-msg==1.2.0
# rqt-plot==1.1.2
# rqt-publisher==1.5.0
# rqt-py-common==1.1.5
# rqt-py-console==1.0.2
# rqt-reconfigure==1.1.1
# rqt-robot-dashboard==0.5.8
# rqt-robot-monitor==1.0.5
# rqt-robot-steering==1.0.0
# rqt-runtime-monitor==1.0.0
# rqt-service-caller==1.0.5
# rqt-shell==1.0.2
# rqt-srv==1.0.3
# rqt-tf-tree==1.0.4
# rqt-topic==1.5.0
scipy==1.11.1
SecretStorage==3.3.1
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
service-identity==18.1.0
shape-msgs==4.2.3
simpleaudio==1.0.4
six==1.16.0
snowballstemmer==2.2.0
sos==4.5.6
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
s#2==0.10.4
ssh-import-id==5.11
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
sympy==1.9
systemd-python==234
teleop-twist-keyboard==2.3.2
terminator==2.1.1
# tf2-geometry-msgs==0.25.4
# tf2-kdl==0.25.4
# tf2-msgs==0.25.4
# tf2-py==0.25.4
# tf2-#-py==0.25.4
# tf2-tools==0.25.4
# tls-client==0.2.1
toml==0.10.2
tomli==2.0.1
topic-monitor==0.20.3
tqdm==4.65.0
trajectory-msgs==4.2.3
turtlesim==1.4.2
twilio==8.7.0
Twisted==22.1.0
typeguard==2.2.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urllib3==2.0.4
values==2020.12.3
visualization-msgs==4.2.3
wadllib==1.3.6
webencodings==0.5.1
Werkzeug==2.3.6
write==2020.12.3
xacro==2.0.8
xdg==5
xkit==0.0.0
yarl==1.9.2
zipp==1.0.0
zope.interface==5.4.0
python-dotenv==1.0.0
